html {
    background: #333;
}

body {
    border: solid blue;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    height: 100%;
}

.formulario {
    background: #333;
    width: 100%;
    height: 100%;

}

header {
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer {
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
}