html {
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.formulario {

    background: #333;
    border: solid 1px rgb(150, 110, 110);
    padding: 10px;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    text-align: center;

    div {
        border: solid 1px #519e74;
    }

}



.ContenedorInputs {
    border: solid 1px rgb(73, 109, 84);
    padding: 10px;
    display: grid;
    color: rgb(175, 175, 69);

    /*Columnas que van a haber*/
    grid-template-columns: 1fr 1fr;
    /*Filas que van a haber*/
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    /*Con esto organizas lo que quieres que haya en cada columna y fila*/
    grid-template-areas: "nombre apellido"
        "correo contraseña"
        "opcion opcion"
        "dniNie dniNie"
        "boton boton";
}

.nombre {
    display: grid;
    grid-area: nombre;

}

.apellidos {
    display: grid;

    grid-area: apellidos;

}

.dniNie {
    display: grid;
    grid-area: dniNie;


}



.opcion {
    display: grid;

    grid-area: opcion;

}

.contraseña {
    display: grid;

    grid-area: contraseña;

}

.boton {
    display: grid;

    grid-area: boton;

    margin: 10px;
}